<%- include("partials/header") %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>


</body>
<body style="background-image: url(https://wallpaperplay.com/walls/full/b/f/1/13984.jpg); background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;">    
<div class="container" style="color: white;">
    <h1>What is website about?</h1> 
    <p style="font-size: 20px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThis website created for help a people. in the matter of medical,<br>Whether it be news, knowledge ,transportation, blood donation including community</p> 
  </div>
  <br>
  <div class="container">
  <h2 style="color: white;">&nbsp&nbspFeature</h2>
  
  <div class="w3-row-padding">
    <div class="w3-third" style="color: white;">
      <h2><i style='font-size:24px' class='fas'>&#xf0f9;</i>&nbsp Map </h2>
      <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspOur website have a map which that connect with google map</p>
      <p>So you can find the hospital that nearest you with yourself.</p>
    </div>
  
    <div class="w3-third"style="color: white;">
      <h2><i style='font-size:24px' class='fas'>&#xf500;</i> &nbsp Community</h2>
      <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspOur website have a community that you can post or share your opinion with other</p> 
      <p>If you have some question about health or you need some from people like donation. you can post in on website</p>
    </div>
  
    <div class="w3-third"style="color: white;">
      <h2><i style='font-size:24px' class='fas'>&#xf0a1;</i> &nbsp News</h2>
      <p><i style='font-size:24px' class='fas'>&#xf0da;</i>&nbsp&nbsp&nbspOur webpage have a news and some knowledge that it's update every day</p>
      <p>Wheter it be covid-19 how to protech yourself.</p>
    </div>
    <br><br><br>
    
  </div>
  </div>











<!-- <div style="text-align: left; font-size: large; font-size: 36px; color: white; font-weight: bold;">What is page about ?</div><br>
<div style="text-align: left; color: white;font-size: 24px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThis website created for help a people. in the matter of medical,<br>Whether it be news knowledge transportation <br>blood donation including community</div>
<br>
<div style="text-align: left; font-size: large; font-size: 36px; color: white; font-weight: bold;">Feature</div><br>
<div style="text-align: left; color: white;font-size: 24px;"><i style='font-size:24px' class='fas'>&#xf0f9;</i> &nbsp Transportation  </div><br>
<div style="text-align: left; color: white;font-size: 24px;"><i style='font-size:24px' class='fas'>&#xf500;</i> &nbsp Community </div> <br>
<div style="text-align: left; color: white;font-size: 24px;"><i style='font-size:24px' class='fas'>&#xf302;</i> &nbsp Map </div>  <br>
<div style="text-align: left; color: white;font-size: 24px;"><i style='font-size:24px' class='fas'>&#xf0a1;</i> &nbsp News </div>  <br> -->





</body>














</html>